{relx, [
    {release, {kaos, "0.1.0"}}
]}.
{erl_opts, [debug_info, {d, debug}]}.
{dialyzer, [{files, ["test"]}]}.
{cover_enabled, true}.
{cover_opts, [verbose]}.
{eunit_opts, [verbose]}.
{deps, []}.
{profiles, [
    {examples, [
        {extra_src_dirs, ["examples"]}
    ]}
]}.
{plugins, [rebar3_ex_doc]}.
{alias, [
    {test, [clean, eunit, cover]}
]}.
