{relx, [
    {release, {kaos, "0.1.0"}}
]}.
{dialyzer, [
    {plt_extra_apps, [erts, kernel, stdlib]},
    {warnings, [unmatched_returns, error_handling]}
]}.
{cover_enabled, true}.
{cover_opts, [verbose]}.
{eunit_opts, [verbose]}.
{deps, []}.
{profiles, [
    {debug, [
        {erl_opts, [debug_info, {d, debug}]}
    ]},
    {examples, [
        {extra_src_dirs, ["examples"]}
    ]},
    {allsrc, [
        {src_dirs, ["src", "test"]}
    ]}
]}.
{plugins, [rebar3_ex_doc, rebar3_hex]}.
{ex_doc, [
    {extras, [
        {"guides/examples.md", #{title => "Examples"}}
    ]},
    {source_url, "https://github.com/EarthCitizen/kaos"},
    {main, "kaos"},
    {api_reference, false}
]}.
{hex, [{doc, ex_doc}]}.
{alias, [
    {test, [clean, eunit, cover]},
    {dial, [clean, compile, dialyzer]}
]}.
